{% extends 'base.html' %}

{% block script %}
	<script type="text/javascript">
		{% if selectedTeams %}
			$(document).ready(function() {
				var selectedTeams = [{% for team in selectedTeams %}
										"{{team}}"
									{% ifnotequal forloop.counter selectedTeams|length %},{% endifnotequal %}{% endfor %}];
				var numGames = parseInt($('#number_of_games')[0].options[$('#number_of_games')[0].options.selectedIndex].text);

				for (var i=0; i<numGames; i++) {
					var currentList = $('.teamList')[i];
					for (var j=0; j<currentList.length; j++) {
						if (currentList.options[j].text == selectedTeams[i]) {
							currentList.options[j].selected = true;
							break;
						}
					}
				}
			});
		{% endif %}
	</script>
{% endblock %}

{% block body %}
	<form action="/NCAA/simulate/" method="post">
	{% csrf_token %}
	<input type="submit" name="submit" value="Simulate!"/>
	<input type="submit" name="test" value="Test!"/>
	<select name="classifier">
		<option value="cluster">Cluster (simple)</option>
		<option value="cluster_normalize">Cluster (normalize)</option>
		<option value="decision_tree">Decision tree (bad)</option>
		<option value="naive_bayes">Naive Bayes (simple)</option>
	</select>
	<select id="number_of_games" name="number_of_games">
		<option value="8">8</option>
		<option value="16">16</option>
	</select>
	<table class="bracketList">
		<tr>
			<td>
			<table class="bracket">
				{% for i in numGames_list %}
				<tr>
					<td>
						<select class="teamList" name="team{{i}}">
							{% for team in teams %}
								<option value="{{team.year}} {{team.teamname}}">
									{{team.year}} {{team.teamname}}
								</option>
							{% endfor %}
						</select>
					</td>
				</tr>
				{% endfor %}
			</table>
			</td>
			{% for round in games %}
				<td>
					<table class="bracket">
						{% ifequal round|length 1 %}
							<tr><td class="winner">{{ round.0 }}</td></tr>
						{% else %}
							{% for game in round %}
								<tr><td>{{ game }}</td></tr>
							{% endfor %}
						{% endifequal %}
					</table>
				</td>
			{% endfor %}
			<!--table class="bracket">
				<tr><td>IT FURKS</td></tr>
				<tr>
					<td>
						<br/>BERKS
					</td>
				</tr>
				<tr>
					<td>
						<br/>MEOW
					</td>
				</tr>
				<tr>
					<td>
						<br/>DUDE
					</td>
				</tr>
			</table>
			</td>
			<td>
			<table class="bracket">
				<tr><td>IT FURKS</td></tr>
				<tr>
					<td>
						<br/><br/><br/>DUDE
					</td>
				</tr>
			</table>
			</td>
			<td>
			<table class="bracket">
				<tr>
					<td>
						DUDE
					</td>
				</tr>
			</table-->
		</tr>
	</table>

{% endblock %}