<div id="topbar">
	<ul>
		<li>
			<a style="float: left; padding: 10px 10px 0px 10px;"
			   href="/NCAA/">
			   <img style="border-width:0px; width:110px;"
					src="http://upload.wikimedia.org/wikipedia/commons/d/dd/NCAA_logo.svg"/>
			</a>
		</li>
		<li>
			<center>
				<ul>
					<li>
						<h1 id="title">NCAA TOURNAMENT PREDICTION</h1>
					</li>
					<li>
						<a class="headerLink" href="/NCAA/">BRACKETS</a>
						<a class="headerLink" href="/NCAA/rankings/">RANKINGS</a>
					</li>
				</ul>
			</center>
		</li>
	</ul>
	<br class="clear"/>
</div>