{% extends 'base.html' %}

{% block script %}
	<script type="text/javascript">
		var nationalChampions = {2012: 'KENTUCKY',
								 2011: 'CONNECTICUT',
								 2010: 'DUKE',
								 2009: 'N CAROLINA',
								 2008: 'KANSAS',
								 2007: 'FLORIDA',
								 2006: 'FLORIDA',
								 2005: 'N CAROLINA',
								 2004: 'CONNECTICUT',
								 2003: 'SYRACUSE',
								 2002: 'MARYLAND',
								 2001: 'DUKE',
								 2000: 'MICHIGAN ST',
								 1999: 'CONNECTICUT',
								 1998: 'KENTUCKY'};
								 
		$(document).ready(function(){
			$('.teamname').each(function(){
				var teamname = $.trim($(this).html().split('(')[0]);
				if (teamname == nationalChampions[{{year}}]) {
					$(this).addClass('nationalChamp');
				}
			});
		});
	</script>
{% endblock %}

{% block body %}
	<form action="/NCAA/rankings/" method="post">
		{% csrf_token %}
		<select id="years" name="year">
			{% for yearVal in years %}
				<option value="{{yearVal}}"
						{% ifequal year yearVal %}
							selected="true"
						{% endifequal %}>{{ yearVal }}</option>
			{% endfor %}
		</select>
		<select id="ranker" name="ranker">
			<option value="simple"
					{% ifequal ranker "simple" %}
						selected="true"
					{% endifequal %}>Simple</option>
			<option value="stripped"
					{% ifequal ranker "stripped" %}
						selected="true"
					{% endifequal %}>Stripped</option>
		</select>
		<input type="submit" name="rank" value="Rank!"/>
	</form>
	<ol>
	{% for ranking in rankings %}
		<li>
			<p class="teamname">{{ ranking.2 }} ({{ ranking.0|floatformat:4 }})</p>
		</li>
	{% endfor %}
	</ol>
{% endblock %}